/* Task Search */
#task-search{
  form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 0;
    margin-bottom: 50px;
    position: relative;
    input[type="text"]{
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      &:focus{
        ~ span{
          svg{
            path{
              fill: var( --borders_separation-color);
            }
          }
        }
      }
    }
    span{
      position: absolute;
      top: 52%;
      left: calc(100% - 2em);
      transform: translate(-5px,-50%);
      -webkit-transform: translate(-5px,-50%);
      -moz-transform: translate(-5px,-50%);
      -ms-transform: translate(-5px,-50%);
      -o-transform: translate(-5px,-50%);
      svg{
        path{
          fill: var( --title-color);
        }
      }
    }
  }
  .separator{
   position: relative;
   display: block;
   width: 100%;
   padding: 0.6px 0;
   background: linear-gradient(to right, transparent,var(--borders_separation-color),var(--title-color),  var(--borders_separation-color),transparent);
  }
}
/* Task Search*/