@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("root.css");
html,body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
*,*:after,*before{
  box-sizing: border-box;
}
body {
  background: var(--principal_bg);
}

main{
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;  
  #task-manager-inner{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
  }
}
.content-block{
    padding: 25px;
    background:var(--aside_bg);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 3px solid var(--borders_separation-color);
    box-shadow: 2px 3px 3px rgba(0,0,0,.3);
  }
/* Titulos */
h1,h2{
  font-family: var(--title_font);
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: var(--title-color);
  text-shadow: 0 0 2px rgba(255,255,255,.4);
  margin: 0;
}
h3,h4{
  font-family: var(--subtitle_font);
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: left;
  color: var(--title-color);
  text-shadow: 0 0 2px rgba(255,255,255,.4);
}
/* \Titulos */

/* Forms Layout */
form{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 0px;
  input,button{
    margin: 0;
    padding: 10px 5px;
    font-size: 16px;
  }
  input[type="text"]{
    border: 2px solid var(--bg-buttons);
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    transition:0.2s all ease;
    -webkit-transition:0.2s all ease;
    -moz-transition:0.2s all ease;
    -ms-transition:0.2s all ease;
    -o-transition:0.2s all ease;
     &:focus{
      outline-color: var(--borders_separation-color);
    }
}
  button{
    background: var(--bg-buttons);
    border: none;
    padding: 10px 0 5px;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    transition:0.50s all ease;
    -webkit-transition:0.50s all ease;
    -moz-transition:0.50s all ease;
    -ms-transition:0.50s all ease;
    -o-transition:0.50s all ease;
    &:hover{
      background: var(--buttons_links_hover-color);
    }
    svg {
      fill: #F2F2F2;
    }
  }
}
/* Forms Layout */

/*Tasks Progress*/
#tasks-progress, #tasks-progress .progress-caption,#tasks-progress .radial-progress{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#tasks-progress{
  position: relative;
  flex-direction: column;
  h3{
    text-align: center;
  }
  .radial-progress{
    width: 150px;
    height: 150px;
    background: conic-gradient(var(--title-color) 270deg, var(--aside_bg) 0deg);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.50s all ease;
    -webkit-transition: 0.50s all ease;
    -moz-transition: 0.50s all ease;
    -ms-transition: 0.50s all ease;
    -o-transition: 0.50s all ease;
}
  .progress-caption{
    background: var(--aside_bg);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    flex-direction: column;
    span{
      display: block;
      font-family: var(--title_font);
      color: var(--title-color);
      &:first-child{
        font-size: 18px;
        font-weight: 600;
      }
      &:last-child{
        font-size: 13px;
      }
    }
  }
}
/*Task Progress*/
/* Task Search */
#task-search{
  form{
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 1fr;
    grid-row-gap: 0;
    margin-bottom: 50px;
    button{
      svg{
        path{
          fill: var(--aside_bg);
        }
      }
    }
  }
  .separator{
   position: relative;
   display: block;
   width: 100%;
   padding: 0.6px 0;
   background: linear-gradient(to right, transparent,var(--borders_separation-color),var(--title-color),  var(--borders_separation-color),transparent);
  }
}
/* Task Search*/
/* Task List */
#task-list--inner{
  margin-top: 50px;
}
#task-list{
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Task List*/

/* Task Item */
.task-item{
  padding: 10px;
  border: 2px solid #D1C4E9;
  box-shadow: 2px 1px 3px rgba(0,0,0,.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  input[type="checkbox"]{
    display: none;
    &:checked{
      ~.task-description{
        text-decoration: line-through;
      }
      ~.task-check{
        &:before{
          background: conic-gradient(from 90deg at 50% 50%, #51e4b8, #21554e, #51e4b8);
        }
        >.task-check-icon{
          svg{
            opacity: 1;
            visibility: visible;
            path{
              fill: #21554e;
            }
          }
        }
      }
    }
  }
  label{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    .task-check{
      position: relative;
      flex-shrink: 0;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      &:before{
        content: "";
        position: absolute;
        inset: -1000%;
        background: var(--bg-item_check);
        animation: 2s linear 0s infinite normal none running spin;
        transition: 0.5s all ease;
        -webkit-transition: 0.5s all ease;
        -moz-transition: 0.5s all ease;
        -ms-transition: 0.5s all ease;
        -o-transition: 0.5s all ease;
      }
      .task-check-icon{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        position: relative;
        z-index: 2;
        background: var(--aside_bg);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
         opacity: 0;
         visibility: hidden;
         transition: 0.5s all ease;
        }
      }
    }
    .task-description{
      flex-grow: 1;
      padding: 5px 10px;
      font-family: var(--text-font);
      color: var(--text-color);
      font-size: 14px;
      line-height: 1.2;
    }
  }
  .task-delete{
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      svg{
        path{
          fill: #d90000;
        }
      }
      &:hover{
        cursor: pointer;
      }
  }
}
/*Task Item*/

/*Footer*/
footer{
  text-align: center;
  font-family: var(--subtitle_font);
  color: var(--title-color);
}
/*Footer*/

@keyframes spin{
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}