:root{
  --principal_bg: linear-gradient(to bottom, #D1C4E9 40%,#B3E5FC);
  --aside_bg: #F2F2F2;
  --title_font: "Poppins", sans-serif;
  --subtitle_font: "Lato", sans-serif;
  --text-font: "Montserrat", sans-serif;
  --title-color: #7c4dcf;
  --text-color: #424242;
  --borders_separation-color: #B3E5FC;
  --button_links-color: #A6CEE3;
  --buttons_links_hover-color: #d1c4e9;
  --bg-buttons: var(--title-color);
  --bg-item_check: conic-gradient(from 90deg at 50% 50%, #9575cd, #d1c4e9, #9575cd);
  --bg-item_loading: conic-gradient(from 90deg at 50% 50%, #999999, #d1c4e9, #999999);
  --linear-loading: linear-gradient(
              to right, 
              rgba(255, 255, 255, 0) 0%, 
              rgba(255, 255, 255, 0) 40%, 
              rgba(255, 255, 255, 0.5) 50%, 
              rgba(255, 255, 255, 0) 60%, 
              rgba(255, 255, 255, 0) 100%
      );
  --loading_color: #c3c3c3;
}